@model MVC.ViewModels.OrderViewModels.OrderViewModel

<div class="container">
    <div class="row">
        <br />
        @if(ViewBag.BasketInoperativeMsg != null)
        {
        <div class="alert alert-warning" role="alert">
            &nbsp;@ViewBag.BasketInoperativeMsg
        </div>
        }
    </div>

    @if (Model.CatalogBasketCars.Count() > 0)
    {

    <div class="esh-catalog-items row">
        @foreach (var catalogCar in Model.CatalogBasketCars)
            {
        <div class="esh-catalog-item col-md-4">
            <partial name="_items" model="catalogCar" />
        </div>
            }
    </div>
    <div>
        <h2>Total: @Model.Total.ToString("C")</h2>
    </div>

    }
    else
    {
    <div class="esh-catalog-items row">
        THERE ARE NO RESULTS THAT MATCH YOUR SEARCH
    </div>
    }
</div>